.questionsPageContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 930px;
}

.questionAccordion {
  width: 100%;
}

.questionsPage_questionHeader {
  margin: 5px;
}

.questionsPage_addQuestionBox {
  align-self: center;
  color: #ffffff;
  width: 200px;
}

.questionsLoadingSpinner {
  margin: 50px;
  text-align: center;
}

.answers_viewModeContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  max-width: 1000px;
  padding: 0;
  width: 100%;
}

.answers_viewModeAnswers {
  font-size: 20px;
}
