.questionsPageContainer{
  max-width: 930px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

.questionAccordion{
  width: 100%;
}

.questionsPage_questionHeader h2{
  margin: 5px;
}

.questionsPage_addQuestionBox{
  width: 200px;
  align-self: center;
  color: #ffffff;
}

.questionsLoadingSpinner{
  text-align: center;
  margin: 50px;
}

.answers_viewModeContainer{
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
}

.answers_viewModeAnswers{
  font-size: 20px;
}