.questionsPageContainer{
  max-width: 930px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
}

.questionAccordion{
  width: 100%;
}

.questionsPage_questionHeader h2{
  margin: 5px;
}

.questionsPage_addQuestionBox{
  width: 200px;
  align-self: center;
  color: #ffffff;
}
