/* #root {
  background-color: #e5e5e5;
  height: 100%;
}

html {
  height: 100%;
} */

body{
  background-image: url("./Assets/Images/tile_background_fix.png");
  background-repeat: repeat;
  background-position: 0%;
}

.App {
  margin: 10px;
}

a {
  /* text-decoration: none !important; */
  color: inherit;
}