.quizzesPage_cardsWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.quizzesPage_quizCard,
.quizzesPage_addCard {
  height: 150px;
  margin: 20px;
  width: 350px;
}

.quizzesPage_addCard {
  align-items: center;
  background-color: #4caf50;
  color: #ffffff !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out !important;
}

.quizzesPage_addCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.quizzesPage_quizCardHeaderContainer{
  padding: 8px;
}

.quizzesPage_quizCardHeader {
  margin: 0;
}

.quizzesPage_quizCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quizzesPage_newQuizCard {
  border: 3px solid #00796b;
  padding-bottom: 15px;
}

.quizzesPage_quizCardActions {
  display: flex;
  justify-content: space-between;
}

.quizzesPage_newQuizCardActions {
  display: flex;
  justify-content: space-between;
}
